/* ---------------------------- ESTILO GLOBAL ---------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Outfit:wght@500;700&display=swap');

:root {
    /* Fundos */
    --cor-fundo-pagina: #1b182c; /* Roxo escuro */
    --cor-fundo-card: #282440; 
    --cor-fundo-card-esquerdo: #211e33;  /* Roxo um pouco mais claro para destacar os cards */
    --cor-borda: #454158;        /* Roxo acinzentado para bordas subtis */
    
    /* Cores de Destaque */
    --cor-rosa: #ff95d6;         /* rosa (para bordas principais e destaques) */
    --cor-azul-ceu: #8be9fd;     /* azul céu (para links, botões e ícones) */
    --cor-banana: #ffe97d;       /* amarelo banana (para títulos principais) */
    --cor-roxo-claro: #bd93f9;   /* roxo claro (para subtítulos) */
    
    /* Texto */
    --cor-texto-principal: #e0def4; /*branco gelo (melhor para leitura) */
    
    /* Fontes */
    --fonte-titulo: 'Outfit', sans-serif;
    --fonte-texto: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-texto-principal);
    font-family: var(--fonte-texto);
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: var(--fonte-titulo);
    color: var(--cor-banana);
}

/* ---------------------------- barra de navegação ---------------------------- */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    margin-bottom: 20px;

    background-color: rgba(27, 24, 44, 0.9); 
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--cor-borda);

}

.nav-bar-links, .nav-bar-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (hover: hover) {
    .nav-bar-links a:hover  {
        color: var(--cor-rosa);
    }
    .nav-bar-links a:active {
        color: var(--cor-azul-ceu);
        transition: 0.3s;
    }
}



.btn-toggle {
    color: var(--cor-azul-ceu);
    background-color: transparent;
    border: solid 2px var(--cor-azul-ceu);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* ---------------------------- main ---------------------------- */

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-de-tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--cor-rosa);
    box-shadow: 0 0 30px rgba(255, 149, 214, 0.4);
    border-radius: 20px;
    width: 50%;
    margin-bottom: 20px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px var(--cor-borda);
    padding-bottom: 10px;
    width: 100%; /* align-items:center no .lista-de-tarefas 
                    encolheo cabeçalho ate ficar so do tamanho 
                    do seu conteudo. o width 100% força ele a 
                    ocupar 100% da largura*/

}

.adicionar-tarefa, #campo-tarefa {
    margin-bottom: 10px;
}

#campo-tarefa {
    display: none;
}

.tarefas {
    list-style: none;
    width: 80%;
    padding: 0;
    gap: 10px;
}

.container-tarefa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid var(--cor-rosa);
}

.texto-tarefa {
    word-break: break-all;
    cursor: pointer;
}
.concluida {
    text-decoration: line-through; /* faz o risco na tarefa concluida */
}

/* ---------------------------- estilizacao dos botoes ---------------------------- */

.adicionar-tarefa, .btn-lixeira {
    background-color: transparent;
    color: var(--cor-azul-ceu);
    border: solid 2px var(--cor-azul-ceu);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

@media (hover: hover) {
  .btn-toggle:hover,
  .adicionar-tarefa:hover,
  .btn-lixeira:hover {
    color: var(--cor-rosa);
    border-color: var(--cor-rosa);
  }

  .btn-toggle:active,
  .adicionar-tarefa:active,
  .btn-lixeira:active {
    color: var(--cor-azul-ceu);
  }
}

/* ---------------------------- footer ---------------------------- */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background-color: rgba(27, 24, 44, 0.9); 
    border-top: 1px solid var(--cor-borda);
}
